<div class="pull-right">
    <a href="#!/create" class="btn btn-default" ng-show="hasRole('admin')" title="Create"><span
            class="glyphicon glyphicon-plus"></span></a>
</div>

<div class="page-header">
    <h3>News</h3>
</div>

<div ng-repeat="post in posts">
    <hr/>
    <div class="pull-right">

        <a href="" ng-click="deleteEntry(post)" class="btn btn-xs btn-default" ng-show="hasRole('admin')"
           title="delete"><span class="glyphicon glyphicon-trash"></span></a>

        <a href="#!/edit/{{post.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="edit"><span
                class="glyphicon glyphicon-pencil"></span></a>

    </div>
    <h4>{{post.date | date}}</h4>

    <p>{{post.content}}</p>
</div>

